<div class = "main">
  <div class = "intro"> 
    <h2> Welcome, {{name}} </h2>
    
    <table>
      <tr>
        <th> Name</th>
        <td> {{name}} </td>
      </tr>
        <tr>
        <th>Email</th>
          <td>{{email}} </td>
      </tr>  
    </table>
  <div class = "foot">
    <a  class = "logout" href = "/logout">Log Out </a>
     <a  class = "delete" href = "/deleteAccount"> Delete Account </a>
  </div>


</div>